#set ($template = $data.getTemplateInfo())
$!template.setLayoutTemplate("Login.vm")

<h1>Project DOI</h1>

<br/>Permalink: <a href="$!server/doi/$!doi">$!server/doi/$!doi</a>
<br/>Id: $!om.getId()
<br/>Name: $!om.getName()
<br/>Description: $!om.getDescription()
<br/>Keywords: $!om.getKeywords()
<br/>Subject Count: $!om.getSubjectCount()
<br/>Experiment Counts:
#set($exptCounts = $om.getExperimentCountByXSIType())
    #foreach($key in $exptCounts.keySet())
    <br/> $key : $exptCounts.get($key)
    #end
<br/>Investigators:
#set($principal = $om.getPi())
#if($principal)
    $!principal.getTitle() $!principal.getFirstname() $!principal.getLastname() (PI)
#end
#foreach($investigator in $om.getInvestigators_investigator())
<br/> $!investigator.getTitle() $!investigator.getFirstname() $!investigator.getLastname()
#end
#if($canReadAsGuest)
<br/>Additional Information: <a href="$!server/data/projects/$!om.getId()">View Project</a>
#else
<br/>Additional Information (login required): <a href="$!server/data/projects/$!om.getId()">View Project</a>
#end