#* @vtlvariable name="userHelper" type="org.nrg.xdat.security.services.UserHelperServiceI" *#
#set($userHelper = $data.getSession().getAttribute("userHelper"))
<link rel="stylesheet" type="text/css"  href="$content.getURI('/style/userCache/userCache.css')" >

<div class="uce-container">
    <!-- Upload Widget -->
    <div class="uce-upload-widget" id="uploadWidget">
        <div class="uce-widget-header">
            <div class="uce-widget-title">
                <span><i class="fa fa-upload"></i></span>
                <span>ZIP File Upload</span>
            </div>
            <button class="uce-minimize-btn" id="minimizeBtn" title="Minimize/Maximize"><i class="fa fa-minus-circle"></i></button>
        </div>

        <div class="uce-upload-content" id="uploadContent">
            <div class="uce-upload-area" onclick="document.getElementById('zipFile').click()">
                <span class="uce-upload-icon"><i class="fa fa-upload"></i></span>
                <div class="uce-upload-text">Upload ZIP File</div>
                <div class="uce-upload-subtext">Click to browse or drag and drop</div>

                <div class="uce-upload-controls" id="uploadControls">
                    <div class="uce-selected-file" id="selectedFile">
                        <div class="uce-file-name" id="selectedFileName">No file selected</div>
                        <div class="uce-file-size" id="selectedFileSize"></div>
                    </div>
                    <button class="uce-upload-section-btn" id="uploadBtn"><i class="fa fa-upload"></i> Upload</button>
                    <button class="uce-upload-section-btn" id="cancelUploadButton"><i class="fa fa-upload"></i> Cancel</button>
                </div>
            </div>
            <input type="file" id="zipFile" accept=".zip" />
        </div>
    </div>

    <div class="uce-panels-container">

        <!-- Source Pane -->
        <div class="uce-panel">
            <div class="uce-pane-header">
                <span>User Cache</span>
            </div>
            <div class="uce-pane-content">
                <div class="uce-folder-tree" id="sourceTree"></div>
            </div>
        </div>

        <!-- Destination Pane -->
        <div class="uce-panel">
            <div class="uce-pane-header">
                <span id="destinationHeader">XNAT Data</span>
            </div>
            <div class="uce-pane-content">
                <div class="uce-folder-tree" id="destinationTree"></div>
                <div class="uce-folder-tree" id="associatedTree" style="display:none">
                    <div id="stats" class="stats"></div>
                    <div class="tree-container">
                        <div id="tree"></div>
                    </div>
                </div>
            </div>
            <div class="button-container sticky-button">
                <div id="reviewRow" class="button-row review">
                    <button id="reviewBtn" class="btn ingestion-btn">
                        <span class="uce-ingestion-text">Review and Ingest</span>
                        <span class="uce-total-files" id="totalFiles">0 files</span>
                    </button>
                </div>

                <div id="actionRow" class="button-row hidden">
                    <button id="addMoreBtn" class="btn ingestion-btn">
                        <span class="uce-ingestion-text">Add More</span>
                    </button>
                    <button id="ingestBtn" class="btn ingestion-btn">
                        <span class="uce-ingestion-text">Ingest</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="statusMessage" class="status-message"></div>
</div>
<script type="text/javascript" src="$content.getURI('/scripts/xnat/app/userCacheFiles/userCacheFileManager.js')"></script>
