
##Developer: Tim Olsen tim@radiologics.com
#if($siteConfig.getBooleanValue("uiShowAddManualQCAction"))
	#if($om.getItem().getStatus()!="obsolete")
		<li class="yuimenuitem"  style="margin-bottom:2px">
			<a class="yuimenuitemlabel"><div class="ic">&nbsp;</div><div class="ic_spacer">&nbsp;</div>Add QC Entry</a>
			<div id="${actionGroup.group}box" class="yuimenu">
				<div class="bd">
					<ul class="first-of-type">
						#if($data.getSession().getAttribute("userHelper").canEdit("xnat:qcManualAssessorData/project", $om.getProject()))
							<li class="yuimenuitem manual_qc $!li_class">
								<A HREF="${link.setAction("XDATActionRouter").addPathInfo("xdataction","XDATScreen_edit_xnat_qcManualAssessorData").addPathInfo("search_element","$element.getFullXMLName()").addPathInfo("search_field","$search_field").addPathInfo("search_value","$search_value").addPathInfo("popup",$dataPopup).addPathInfo("project","$om.getProject()")}" ><div class="ic"><img border="0" src="$content.getURI("images/e.gif")"/></div><div class="ic_spacer">&nbsp;</div>Project: $om.getProject()</a>
							</li>
						#end
						#foreach($share in $om.getSharing_share())
							#if($data.getSession().getAttribute("userHelper").canEdit("xnat:qcManualAssessorData/project", $share.getProject()))
								<li class="yuimenuitem manual_qc $!li_class">
									<A HREF="${link.setAction("XDATActionRouter").addPathInfo("xdataction","XDATScreen_edit_xnat_qcManualAssessorData").addPathInfo("search_element","$element.getFullXMLName()").addPathInfo("search_field","$search_field").addPathInfo("search_value","$search_value").addPathInfo("popup",$dataPopup).addPathInfo("project","$share.getProject()")}" ><div class="ic"><img border="0" src="$content.getURI("images/e.gif")"/></div><div class="ic_spacer">&nbsp;</div>Project: $share.getProject()</a>
								</li>
							#end
						#end
					</ul>
				</div>
			</div>
		</li>
	#end
#end
