<!-- BEGIN /xnat-templates/screens/xnat_ecgSessionData/edit/scans.vm -->
#parse($turbineUtils.getTemplateName("scans.vm","xnat:imageSessionData",$project,"edit"))
<!-- END /xnat-templates/screens/xnat_ecgSessionData/edit/scans.vm -->
