<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%d [%t] %-5p %c - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="logfile" class="ch.qos.logback.core.FileAppender">
        <file>build/test-results/xnat-web-test.log</file>
        <encoder>
            <pattern>%d [%t] %-5p %c - %m%n</pattern>
        </encoder>
    </appender>
    <!-- XFT errors are expected in tests (metadata not initialized); log to file only -->
    <logger name="org.nrg.xft" additivity="false" level="DEBUG">
        <appender-ref ref="logfile"/>
    </logger>
    <root level="DEBUG">
        <appender-ref ref="logfile"/>
        <appender-ref ref="console"/>
    </root>
</configuration>
