#if($user.checkFeature($om,"configurable_resource_uploader"))
    #if($om.canEdit($user))
        <li class="yuimenuitem">
                <a href="$link.setPage("UserCacheExplorer.vm").addPathInfo('project',$project.getId())">
                    Non-Dicom Uploader
                </a>
        </li>
    #end
#end