<style>
    .page-title {
        font-size: 24px;
    }

    .installed-template-box-container {
        border: 2px solid #e5e5e5;
    }

    .installed-template-box-header {
        display: flex;
        background: #1a74bb;
        justify-content: space-between;
    }

    .installed-template-box-title {
        font-size: 18px;
        color: white;
        margin: 10px 20px;
    }

    .btn-install-new-template {
        height: fit-content;
        align-self: center;
        margin-right: 20px;
    }
    .btn-save-to-project {
        height: fit-content;
        align-self: center;
        margin-right: 20px;
    }

    .table-template-list {
        width: 100%;
    }

    .filter-last-modified {
        display: none;
    }
</style>
<script type="text/javascript" src="$content.getURI("scripts/xnat_projectData.js")"></script>
<script language="javascript">

    var all_elements = new Array();

    #foreach($gwe in $all_elements)
    all_elements.push("$gwe.getFullXMLName()");
    #end
    all_elements.sort(function (a, b) {
        if (a.toLowerCase() < b.toLowerCase()) 
            return -1;
        if (a.toLowerCase() > b.toLowerCase()) 
            return 1;
        return 0;
    });

    function removeAllOptions(selectbox) {
        var j;
        for (j = selectbox.options.length - 1; j >= 0; j--) {
            selectbox.remove(j);
        }
    }

    function populateFullList() {
        var selectBox = document.getElementById("root_data_type");

        removeAllOptions(selectBox);

        selectBox.options[0] = new Option("(SELECT)", "");

        for (var i = 0; i < all_elements.length; i++) {
            selectBox.options[i + 1] = new Option(all_elements[i], all_elements[i]);
        }
    }
</script>
#if ($data.message)
    <DIV class="error">$data.message</div><br>
#end
<p class="page-title">
    Upload Data via CSV Template
</p>
<div class="installed-template-box-container">
    <div class="installed-template-box-header">
        <p class="installed-template-box-title">
            Installed Templates
        </p>
        <button onclick="createNewTemplate()" class="btn-install-new-template" type="button">
            Install New Template
        </button>
        <button onclick="createNewTemplate()" class="btn-cancel-upload hide" type="button">
            Cancel Upload
        </button>
        <button onclick="saveToProject()" class="btn-save-to-project hide" type="button">
            Save to Project
        </button>
    </div>
    <div id="installed-template-table-container" style="margin:20px"></div>
</div>

<script>
    var templatesTableContainer = 'div#installed-template-table-container'
    renderTemplatesTable();
    var allElements = new Array();
    var $dataRows = []
    var rootDataType = ''
    var selectedAttributes = []
    var attributesList = []

    function renderTemplatesTable() {
        var container = $(templatesTableContainer);
        if (container.length) {
            setTimeout(function () {
                container.html('loading...');
                setTimeout(function () {
                    XNAT
                        .dialog
                        .loadingBar
                        .show();
                    XNAT
                        .spawner
                        .spawn({
                            templateTable: {
                                kind: 'table.dataTable',
                                name: 'templates',
                                id: 'templates',
                                load: XNAT
                                    .url
                                    .restUrl('/xapi/csv/templates'),
                                items: {
                                    templateName: {
                                        label: 'Template Name',
                                        filter: true,
                                        apply: function () {
                                            return spawn('p', {
                                                title: this.label,
                                                html: escapeHtml(this.label)
                                            });
                                        }
                                    },
                                    dataType: {
                                        label: 'Datatype',
                                        filter: true,
                                        apply: function () {
                                            return spawn('p', {
                                                title: this.xsiType,
                                                html: escapeHtml(this.xsiType)
                                            });
                                        }
                                    },
                                    lastModified: {
                                        label: 'Last Modified',
                                        filter: function (table) {
                                            var MIN = 60 * 1000;
                                            var HOUR = MIN * 60;
                                            var X8HRS = HOUR * 8;
                                            var X24HRS = HOUR * 24;
                                            var X7DAYS = X24HRS * 7;
                                            var X30DAYS = X24HRS * 30;
                                            return spawn('div.center', [
                                                XNAT
                                                    .ui
                                                    .select
                                                    .menu({
                                                        value: 0,
                                                        options: {
                                                            all: {
                                                                label: 'All',
                                                                value: 0,
                                                                selected: true
                                                            },
                                                            lastHour: {
                                                                label: 'Last Hour',
                                                                value: HOUR
                                                            },
                                                            last8hours: {
                                                                label: 'Last 8 Hrs',
                                                                value: X8HRS
                                                            },
                                                            last24hours: {
                                                                label: 'Last 24 Hrs',
                                                                value: X24HRS
                                                            },
                                                            lastWeek: {
                                                                label: 'Last Week',
                                                                value: X7DAYS
                                                            },
                                                            last30days: {
                                                                label: 'Last 30 days',
                                                                value: X30DAYS
                                                            }
                                                        },
                                                        element: {
                                                            id: 'template-filter-select-last-modified',
                                                            on: {
                                                                change: function () {
                                                                    var FILTERCLASS = 'filter-last-modified';
                                                                    var selectedValue = parseInt(this.value, 10);
                                                                    var currentTime = Date.now();
                                                                    $dataRows = $dataRows.length
                                                                        ? $dataRows
                                                                        : $$(table)
                                                                            .find('tbody')
                                                                            .find('tr');
                                                                    if (selectedValue === 0) {
                                                                        $dataRows.removeClass(FILTERCLASS);
                                                                    } else {
                                                                        $dataRows
                                                                            .addClass(FILTERCLASS)
                                                                            .filter(function () {
                                                                                var timestamp = this.querySelector('input.timestamp');
                                                                                var lastLogin = +(timestamp.value);
                                                                                return selectedValue === lastLogin - 1 || selectedValue > (currentTime - lastLogin);
                                                                            })
                                                                            .removeClass(FILTERCLASS);
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    })
                                                    .element
                                            ])
                                        },
                                        apply: function () {
                                            return spawn('!', [
                                                [
                                                    'input.hidden.timestamp.filtering|type=hidden', {
                                                        value: (new Date(this.updateOn)).getTime()
                                                    }
                                                ],
                                                [
                                                    'span.date-time',
                                                    (
                                                        this.updateOn
                                                            ? (new Date(this.updateOn)).toLocaleString()
                                                            : ''
                                                    )
                                                ]
                                            ])
                                        }
                                    },
                                    project: {
                                        label: 'Project',
                                        filter: true,
                                        apply: function () {
                                            return spawn('p', {
                                                title: this.project,
                                                html: escapeHtml(this.project)
                                            });
                                        }
                                    },
                                    actions: {
                                        label: 'Actions',
                                        filter: false,
                                        apply: function () {
                                            let downloadURL = XNAT
                                                .url
                                                .restUrl('/xapi/csv/templates/download/' + this.id)
                                            return spawn(
                                                'p',
                                                {html: `
                                                    <div style="justify-content: space-evenly; display: flex;">
                                                        <button type="button" class="btn btn-sm" onclick="uploadData(${this.id})"> 
                                                            Upload Data 
                                                        </button>
                                                        <button type="button" class="btn btn-sm" onclick="downloadTemplate(${this.id})"> 
                                                            <i class="fa fa-file-excel-o" aria-hidden="true"></i> 
                                                        </button>
                                                        <button type="button" class="btn btn-sm" onClick="deleteTemplate(${this.id})"> 
                                                            <i class="fa fa-trash-o" aria-hidden="true"></i> 
                                                        </button>
                                                    </div>`}
                                            );
                                        }
                                    }
                                }
                            }
                        })
                        .render(container.empty(), function () {
                            XNAT
                                .dialog
                                .loadingBar
                                .hide();
                        });
                }, 10);
            }, 1);
        }
    }

    function openErrorModal(error) {
        XNAT
            .dialog
            .open({
                width: 400,
                speed: 200,
                esc: true,
                enter: false,
                content: `
                    Error:${error}
                `,
                buttons: [
                    {
                        label: "OK",
                        close: true,
                        isDefault: true
                    }
                ]
            });
    }

    function uploadDataContent() {
    let projects = getProjects();

    return {
       
            kind: 'panel.form',
            name: 'uploadDataForm',
            id: 'upload-Data-form',
            footer: false,
            header: false,
            element: {
                autocomplete: 'off'
            },
            contents: {
                headerName:{
                    tag: "h2",
                    kind: "panel.element",
                    classes: "edit_header1",
                    content:`Uploading Data`
                },
                para:{
                    tag:  "p",
                    kind: "panel.element",
                    content:`Select a CSV file that follows your template. One experiment will be added or  for each row of data.`   
                },
                projectName: {
                    kind: "panel.select.single",
                    label: "Upload To Project",
                    classes: "selectProject",
                    options: projects
                },
                fileUpload: {
                    kind: "panel.element",
                    label: "File",
                    contents: {
                        uploadButton: {
                            kind: "html",
                            content: '<input type="file" id="csvFile" name="csv_to_store"/>'

                        }
                    }
                }

            }
        }

    }

    function uploadData(templateId) {
        XNAT
            .dialog
            .open({
                width: 600,
                speed: 200,
                esc: true,
                enter: false,
                title: "Upload Data File Using Template",
                content: function () {
                    formContainer$ = $.spawn('csv-upload-container');
                    XNAT
                        .spawner
                        .spawn({templateNameForm: uploadDataContent()})
                        .render(formContainer$)
                    return formContainer$[0];
                },
                buttons: [
                    {
                        id:"upload-btn" ,
                        label: "Upload",
                        close: false,
                        isDefault: true,
                        action: function (obj) {
                            const projectID = obj.$dialog 
                                .find('.selectProject')[0]
                                .value;
                            const file = obj.$dialog.find('#csvFile')[0].files[0];
                            var formData = new FormData();
                            formData.append('file',file);
                            const uploadUrl = XNAT.url
                                .restUrl(`/xapi/csv/upload/projects/${projectID}/validate/${templateId}`)
                            const submitUrl = XNAT.url
                                .restUrl(`/xapi/csv/upload/projects/${projectID}/submit/${templateId}`)    
                            return XNAT.xhr.post({
                                url :uploadUrl,
                                data: formData,
                                enctype: 'multipart/form-data',
                                processData: false,  // Important!
                                contentType: false,
                                cache: false,
                                fail: function(e){
                                    console.log(e);
                                            
                                },
                                success: function(data){
                                    if(Array.isArray(data.error) && data.error.length){
                                        generateTable(data.error, 'upload-Data-form');
                                    }
                                    else{
                                        obj.close();
                                        dataConfirmation(data);
                                            
                                    }
                                }
                            })
                        }
                    } ,{
                        label: "Cancel",
                        close: true
                    }]
            });
    }

    function dataConfirmation(data){

        $('.installed-template-box-title').text('Identified Experiment Data');
        $('.btn-install-new-template').hide();
        $('.btn-cancel-upload').show();
        $('.btn-save-to-project').show();
        if(Array.isArray(data) && data.length){           
        generateTable(data, 'installed-template-table-container')
        }   
    }
    function saveToProject(){

    }

    function generateTable(){

                        XNAT
                        .spawner
                        .spawn({
                            templateTable: {
                                kind: 'table.dataTable',
                                name: 'templates',
                                id: 'templates',
                                load: XNAT
                                    .url
                                    .restUrl('/xapi/csv/templates'),
                                items: {
                                    templateName: {
                                        label: 'Template Name',
                                        filter: true,
                                        apply: function () {
                                            return spawn('p', {
                                                title: this.label,
                                                html: escapeHtml(this.label)
                                            });
                                        }
                                    },
                                    dataType: {
                                        label: 'Datatype',
                                        filter: true,
                                        apply: function () {
                                            return spawn('p', {
                                                title: this.xsiType,
                                                html: escapeHtml(this.xsiType)
                                            });
                                        }
                                    },
                                    lastModified: {
                                        label: 'Last Modified',
                                        filter: function (table) {
                                            var MIN = 60 * 1000;
                                            var HOUR = MIN * 60;
                                            var X8HRS = HOUR * 8;
                                            var X24HRS = HOUR * 24;
                                            var X7DAYS = X24HRS * 7;
                                            var X30DAYS = X24HRS * 30;
                                            return spawn('div.center', [
                                                XNAT
                                                    .ui
                                                    .select
                                                    .menu({
                                                        value: 0,
                                                        options: {
                                                            all: {
                                                                label: 'All',
                                                                value: 0,
                                                                selected: true
                                                            },
                                                            lastHour: {
                                                                label: 'Last Hour',
                                                                value: HOUR
                                                            },
                                                            last8hours: {
                                                                label: 'Last 8 Hrs',
                                                                value: X8HRS
                                                            },
                                                            last24hours: {
                                                                label: 'Last 24 Hrs',
                                                                value: X24HRS
                                                            },
                                                            lastWeek: {
                                                                label: 'Last Week',
                                                                value: X7DAYS
                                                            },
                                                            last30days: {
                                                                label: 'Last 30 days',
                                                                value: X30DAYS
                                                            }
                                                        },
                                                        element: {
                                                            id: 'template-filter-select-last-modified',
                                                            on: {
                                                                change: function () {
                                                                    var FILTERCLASS = 'filter-last-modified';
                                                                    var selectedValue = parseInt(this.value, 10);
                                                                    var currentTime = Date.now();
                                                                    $dataRows = $dataRows.length
                                                                        ? $dataRows
                                                                        : $$(table)
                                                                            .find('tbody')
                                                                            .find('tr');
                                                                    if (selectedValue === 0) {
                                                                        $dataRows.removeClass(FILTERCLASS);
                                                                    } else {
                                                                        $dataRows
                                                                            .addClass(FILTERCLASS)
                                                                            .filter(function () {
                                                                                var timestamp = this.querySelector('input.timestamp');
                                                                                var lastLogin = +(timestamp.value);
                                                                                return selectedValue === lastLogin - 1 || selectedValue > (currentTime - lastLogin);
                                                                            })
                                                                            .removeClass(FILTERCLASS);
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    })
                                                    .element
                                            ])
                                        },
                                        apply: function () {
                                            return spawn('!', [
                                                [
                                                    'input.hidden.timestamp.filtering|type=hidden', {
                                                        value: (new Date(this.updateOn)).getTime()
                                                    }
                                                ],
                                                [
                                                    'span.date-time',
                                                    (
                                                        this.updateOn
                                                            ? (new Date(this.updateOn)).toLocaleString()
                                                            : ''
                                                    )
                                                ]
                                            ])
                                        }
                                    },
                                    project: {
                                        label: 'Project',
                                        filter: true,
                                        apply: function () {
                                            return spawn('p', {
                                                title: this.project,
                                                html: escapeHtml(this.project)
                                            });
                                        }
                                    },
                                    actions: {
                                        label: 'Actions',
                                        filter: false,
                                        apply: function () {
                                            let downloadURL = XNAT
                                                .url
                                                .restUrl('/xapi/csv/templates/download/' + this.id)
                                            return spawn(
                                                'p',
                                                {html: `
                                                    <div style="justify-content: space-evenly; display: flex;">
                                                        <button type="button" class="btn btn-sm" onclick="uploadData(${this.id})"> 
                                                            Upload Data 
                                                        </button>
                                                        <button type="button" class="btn btn-sm" onclick="downloadTemplate(${this.id})"> 
                                                            <i class="fa fa-file-excel-o" aria-hidden="true"></i> 
                                                        </button>
                                                        <button type="button" class="btn btn-sm" onClick="deleteTemplate(${this.id})"> 
                                                            <i class="fa fa-trash-o" aria-hidden="true"></i> 
                                                        </button>
                                                    </div>`}
                                            );
                                        }
                                    }
                                }
                            }
                        })
                        .render(container.empty(), function () {
                            XNAT
                                .dialog
                                .loadingBar
                                .hide();
                        });

    }

    function generateTable1(value, element){
         let table = document.createElement('table');
         
         for (let row of value) {
         table.insertRow();
            for (let cell of row) {
            let newCell = table.rows[table.rows.length - 1].insertCell();
            newCell.textContent = cell;
            }
         }
         
         $('#'+ element).html(table);
         console.log(value);
    }

    function downloadTemplate(templateId) {
        XNAT
            .dialog
            .open({
                width: 600,
                speed: 200,
                esc: true,
                enter: false,
                title: "Download template",
                content: `
                    <h2 class="edit_header1" style="">Fitting Your Data To This Template</h2>
                    <p>The "Rad Read Template 1" CSV file will contain just a header row with one attribute in each column header. When fitting your data to this template, you can either reorder your own data to fit this format, or you can reorder the column headers to fit your data. </p>
                    <div class="info">
                        Note: If you leave the ID column blank, a new experiment will be created. 
                    </div>`,
                buttons: [
                    {
                        label: "Download",
                        close: false,
                        isDefault: true,
                        action: function (obj) {
                            const downloadUrl = XNAT
                                .url
                                .restUrl('/xapi/csv/templates/download/' + templateId)
                            window.open(downloadUrl)
                            obj.close()
                        }
                    }, {
                        label: "Cancel",
                        close: true
                    }
                ]
            });
    }

    function deleteTemplate(templateId) {
        XNAT
            .dialog
            .open({
                width: 600,
                speed: 200,
                esc: true,
                enter: false,
                title: "Delete Template?",
                content: `
                    <p>Are you sure you want to delete this template? This action cannot be undone.</p>`,
                buttons: [
                    {
                        label: "Delete",
                        close: false,
                        isDefault: true,
                        action: function (obj) {
                            XNAT
                                .xhr
                                .delete({
                                    url: XNAT
                                        .url
                                        .restUrl('/xapi/csv/templates/' + templateId),
                                    success: function () {
                                        console.log("Template deleted successfully")
                                        obj.close()
                                        renderTemplatesTable()
                                    }
                                })

                        }
                    }, {
                        label: "Cancel",
                        close: true
                    }
                ]
            });
    }

    function selectDatatype() {
        return {
            selectDatatype: {
                tag: "div",
                content: `
        <div class='row'>
          <div class='rowTitle' for='root_data_type'>Select data-type </div>
          <select ID="root_data_type" name="root_data_type" />
          </div>
        </div>
        `
            }
        };
    }

    function createNewTemplate() {
        XNAT
            .dialog
            .open({
                width: 600,
                speed: 200,
                esc: true,
                enter: false,
                title: "Select Datatype for New Template",
                content: XNAT
                    .spawner
                    .spawn(selectDatatype())
                    .get(),
                buttons: [
                    {
                        label: "Continue",
                        close: false,
                        isDefault: true,
                        action: function (obj) {
                            rootDataType = obj
                                .$dialog
                                .find('#root_data_type')[0]
                                .value
                            if (rootDataType) {
                                renderAttributes()
                                obj.close()
                            } else {
                                openErrorModal("Please select a data type.")
                            }
                        }
                    }, {
                        label: "Cancel",
                        close: true,
                        action: function () {
                            clearNewTemplateData()
                        }
                    }
                ],
                afterShow: function () {
                    var elements = new Array();
                    #foreach($gwe in $elements)
                    elements.push("$gwe");
                    #end
                    elements.sort(function (a, b) {
                        if (a.toLowerCase() < b.toLowerCase()) 
                            return -1;
                        if (a.toLowerCase() > b.toLowerCase()) 
                            return 1;
                        return 0;
                    });
                    var selectBox = document.getElementById('root_data_type');
                    selectBox.options[0] = new Option("(SELECT)", "");

                    for (var i = 0; i < elements.length; i++) {
                        selectBox.options[i + 1] = new Option(elements[i], elements[i]);
                    }
                }
            });
    }

    function renderAttributes() {
        XNAT
            .xhr
            .get({
                url: XNAT
                    .url
                    .restUrl('/xapi/csv/templates/root/' + rootDataType),
                success: function (data) {
                    function ElementFieldMapping(name) {
                        this.elementName = name;
                        this.fields = new Array();
                        this.extensionPaths = new Array();
                        this.extensionTypes = new Array();
                        this.required = new Array();
                    }
                    for (var entry in data) {
                        var mapping = new ElementFieldMapping(entry);
                        var fields = data[entry][0]
                        var extensions = data[entry][1]
                        var required = data[entry][2]
                        mapping
                            .fields
                            .push(...fields);
                        mapping
                            .required
                            .push(...required);
                        var count = 0
                        for (var e in extensions) {
                            mapping.extensionPaths[count] = e;
                            mapping.extensionTypes[count] = new Array();
                            for (var foreign in extensions[e]) {
                                mapping
                                    .extensionTypes[count]
                                    .push(foreign);
                            }
                            count = count + 1
                        }
                        allElements.push(mapping);
                    }
                    attributesList = data
                    openSelectAttributesModal()
                }
            })
    }

    function openSelectAttributesModal() {
        const content = selectAttributesContent()
        XNAT
            .dialog
            .open({
                width: 600,
                speed: 200,
                esc: true,
                enter: false,
                title: `Define CSV Template for ${rootDataType}`,
                content: content,
                buttons: [
                    {
                        label: "Continue",
                        close: false,
                        isDefault: true,
                        action: function (obj) {
                            selectedAttributes = []
                            const ips = obj
                                .$dialog
                                .find('input')
                            for (let i = 0; i < ips.length; i++) {
                                if (ips[i].checked) 
                                    selectedAttributes.push(ips[i].value)
                            }
                            if (selectedAttributes.length) {
                                templateNameModal()
                                obj.close()
                            } else {
                                openErrorModal("Please select template attributes.")
                            }
                        }
                    }, {
                        label: "Cancel",
                        close: true,
                        action: function () {
                            clearNewTemplateData()
                        }
                    }
                ],
                afterShow: function (obj) {
                    checkSelectedAttributes()
                }
            });
    }

    function checkSelectedAttributes() {
        const modalId = $(this)
            .closest('div.xnat-dialog')
            .attr('data-dialog');
        const obj = XNAT
            .dialog
            .getDialog(modalId)
        const ips = obj
            .$dialog
            .find('input')
        for (let i = 0; i < ips.length; i++) {
            if (selectedAttributes.indexOf(ips[i].value) >= 0) 
                ips[i].checked = true
        }
    }

    function selectAttributesContent() {
        const rootFields = attributesList[rootDataType]
        const fields = rootFields[0]
        const extensions = rootFields[1]
        const required = rootFields[2]
        let content = ` 
        <div id="rootDIV">
            <div class="info" style="margin-bottom: 10px;"> 
                Select all attributes you want to include in your template. Each attribute will correspond to a column in your comma-delimited template file. You can reorder columns as needed when fitting our data and uploading.
            </div>
            <input type="checkbox" id="checkALL" onclick="checkAll();"/>
            Select All
            <div class="field rootField">
            <hr style="margin: 10px 0;">`

        required.forEach((ele) => {
            content += `    
            <DIV class="field rootField">
                <input type="checkbox" checked disabled value="${ele}" name="fields"/>
                <b>${ele} (Required)</b>
            </div>
            <hr style="margin: 10px 0;">`
        })

        fields.forEach((field) => {
            content += `
        <DIV class="field rootField">
            <input type="checkbox" value="${field}" name="fields"/>
            ${field}
        </div>`
        })

        for (const e in extensions) {
            content += `
            <DIV class="extension rootExtension">
                <b>${e}</b>
                <select
                    id="${e}SEL"
                    onchange="renderAdditionalFields('${e}','${e}','${e}SEL');">
                        <option value="">(SELECT)</option>`
            extensions[e].forEach((foreign) => {
                content += `<OPTION value="${foreign}">${foreign}</option>`
            })
            content += `
                </select>
            </div>
            <div class="extension rootExtension" id="${e}">
                This field can be extended by multiple data types. Please select the data-type you would like to use.
            </div>`
        }
        content += `</div>`
        return content;
    }

    function templateNameModal() {
        var formContainer$ = null
        XNAT
            .dialog
            .open({
                width: 600,
                speed: 200,
                esc: true,
                enter: false,
                title: `Save Template`,
                content: function () {
                    formContainer$ = $.spawn('div.new-user-form');
                    XNAT
                        .spawner
                        .spawn({templateNameForm: saveTemplateContent()})
                        .render(formContainer$)
                    return formContainer$[0];
                },
                buttons: [
                    {
                        label: "Save Template",
                        close: false,
                        isDefault: true,
                        action: function (obj) {
                            let templateName = obj
                                .$dialog
                                .find('input#template-name')[0]
                                .value
                            let projectName = obj
                                .$dialog
                                .find('select#project-name')[0]
                                .value
                            if (templateName && projectName) {
                                createTemplate(templateName, projectName)
                                obj.close()
                                renderTemplatesTable()
                            } else {
                                openErrorModal("Please enter template name and select project.")
                            }
                        }
                    }, {
                        label: "Cancel",
                        close: true,
                        action: function () {
                            clearNewTemplateData()
                        }
                    }
                ]
            });
    }

    function saveTemplateContent() {

	let projects = getProjects();


        return {
            kind: 'panel.form',
            name: 'saveTemplateForm',
            id: 'save-template-form',
            footer: false,
            header: false,
            element: {
                autocomplete: 'off'
            },
            contents: {
                templateName: {
                    kind: 'panel.input.text',
                    label: 'Template Name',
                    element: {
                        placeholder: 'Enter a unique name',
                        autocomplete: 'off'
                    }
                },
                projectName: {
                    kind: "panel.select.single",
                    label: "Select Project",
                    options: projects
                },
                rootDataType: {
                    kind: "panel.element",
                    label: "Datatype",
                    contents: {
                        description: {
                            tag: 'div.description',
                            content: rootDataType
                        }
                    }
                },
                fieldsSelected: {
                    kind: "panel.element",
                    label: "Fields selected",
                    contents: {
                        description: {
                            tag: 'div.description',
                            content: selectedAttributes.length
                        },
                        editLink: {
                            tag: 'a.link',
                            element: {
                                href: '#!',
                                title: 'edit',
                                on: {
                                    click: function (e) {
                                        e.preventDefault();
                                        var modalId = $(this)
                                            .closest('div.xnat-dialog')
                                            .attr('data-dialog');
                                        XNAT
                                            .dialog
                                            .getDialog(modalId)
                                            .close();
                                        openSelectAttributesModal()
                                    }
                                }
                            },
                            content: 'Edit'
                        }
                    }
                }

            }
        }
    }

    function createTemplate(label, project) {
        const body = {
            label,
            xsiType: rootDataType,
            project,
            template: [...selectedAttributes]
        }

        XNAT
            .xhr
            .postJSON({
                url: XNAT
                    .url
                    .restUrl('/xapi/csv/templates'),
                data: JSON.stringify(body),
                success: function () {
                    console.log("Template created successfully")
                    clearNewTemplateData()
                    renderTemplatesTable()
                }
            })
    }

    function clearNewTemplateData() {
        rootDataType = ''
        attributesList = []
        selectedAttributes = []
    }

    function getElementFieldMapping(name) {
        for (var i = 0; i < allElements.length; i++) {
            if (allElements[i].elementName == name) {
                return allElements[i];
            }
        }
    }

    function renderAdditionalFields(header, destinationDIV, selectBoxID) {
        var dest = document.getElementById(destinationDIV);
        while (dest.firstChild) {
            dest.removeChild(dest.firstChild);
        }
        var selectBox = document.getElementById(selectBoxID);

        var checkAll = document.getElementById("checkALL");
        if (selectBox.selectedIndex != 0) {
            var foreignElementName = selectBox
                .options[selectBox.selectedIndex]
                .value;
            var elementMapping = getElementFieldMapping(foreignElementName);
            for (var i = 0; i < elementMapping.fields.length; i++) {
                var field = elementMapping.fields[i];

                var newDIV = document.createElement("DIV");
                newDIV.className = "field rootField";

                var inputBox = document.createElement("INPUT");
                const value = header + "[@xsi:type='" + foreignElementName + "']" + field.substring(
                    field.indexOf("/")
                );
                inputBox.type = "checkbox";
                inputBox.name = "fields";
                inputBox.checked = selectedAttributes.indexOf(value) >= 0;
                inputBox.checked = checkAll.checked;
                inputBox.value = value;

                newDIV.appendChild(inputBox);

                var labelTxt = document.createElement("LABEL");
                labelTxt.innerHTML = header + field.substring(field.indexOf("/"));
                newDIV.appendChild(labelTxt);

                dest.appendChild(newDIV);
            }

            for (var i = 0; i < elementMapping.extensionPaths.length; i++) {
                var field = elementMapping.extensionPaths[i];

                var newDIV = document.createElement("DIV");
                newDIV.className = "extension rootExtension";

                var labelTxt = document.createElement("LABEL");
                labelTxt.innerHTML = "<B>" + header + field.substring(field.indexOf("/")) + "</B>";
                newDIV.appendChild(labelTxt);

                var newSelectBox = document.createElement("SELECT");
                newSelectBox.ID = field + "SEL";
                newSelectBox.onchange = new function () {
                    renderAdditionalFields("" + field + "", "" + field + "", field + "SEL");
                };
                newSelectBox.options[0] = new Option('', '(SELECT)');
                for (var j = 0; j < elementMapping.extensionTypes[i].length; j++) {
                    newSelectBox.options[j + 1] = new Option(
                        elementMapping.extensionTypes[i][j],
                        elementMapping.extensionTypes[i][j]
                    );
                }
                newDIV.appendChild(newSelectBox);

                dest.appendChild(newDIV);

                newDIV = document.createElement("DIV");
                newDIV.className = "extension rootExtension";
                newDIV.ID = "$e.getKey()";
                newDIV.innerHTML = "This field can be extended by multiple data types.  Please select the data-type you would like to " +
                        "use.";

                dest.appendChild(newDIV);
            }
        }
    }

    function checkAll() {
        var tbls = document.getElementsByTagName("input");
        var checkAll = document.getElementById("checkALL");
        for (ti = 0; ti < tbls.length; ti++) {
            thisTbl = tbls[ti];
            if (thisTbl.id != "checkALL") {
                thisTbl.checked = checkAll.checked;
            }
        }
    }

    function getProjects(){

    #set($all_project=$data.getSession().getAttribute("userHelper").getCachedItems("xnat:projectData",null,false))
	
    let projects = [];
     #foreach($project in $all_project)
    projects.push({
      value:"$project.getId()",
      label:"$esc.javascript($!project.getName())"
    })
	#end

    return projects;

    }

</script>