<style>
    .page-title {
        font-size: 24px;
    }

    table,
    td,
    th {
        border: 1px solid black;
        border-collapse: collapse;
    }

    td,
    th {
        padding: 5px 15px;
        text-align: center;
    }

    .installed-template-box-container {
        border: 2px solid #e5e5e5;
    }

    .installed-template-box-header {
        display: flex;
        background: #1a74bb;
        justify-content: space-between;
    }

    .installed-template-box-title {
        font-size: 18px;
        color: white;
        margin: 10px 20px;
    }

    .btn-install-new-template {
        height: fit-content;
        align-self: center;
        margin-right: 20px;
    }

    .table-template-list {
        width: 100%;
    }

    .filter-last-modified {
        display: none;
    }

    .attributes-info-div {
        display: flex;
        padding: 10px 10px 0;
        margin-bottom: 10px;
        border: 2px solid rgb(204, 204, 204);
        background: rgb(228, 239, 255);
    }

    .attributes-info-icon {
        padding-right: 10px;
        font-size: 16px;
        color: rgb(26, 117, 187);
    }
</style>
<script language="javascript">
    var all_elements = new Array();

    #foreach($gwe in $all_elements)
    all_elements.push("$gwe.getFullXMLName()");
    #end
    all_elements.sort(function (a, b) {
        if (a.toLowerCase() < b.toLowerCase()) 
            return -1;
        if (a.toLowerCase() > b.toLowerCase()) 
            return 1;
        return 0;
    });

    function removeAllOptions(selectbox) {
        var j;
        for (j = selectbox.options.length - 1; j >= 0; j--) {
            selectbox.remove(j);
        }
    }

    function populateFullList() {
        var selectBox = document.getElementById("root_data_type");

        removeAllOptions(selectBox);

        selectBox.options[0] = new Option("(SELECT)", "");

        for (var i = 0; i < all_elements.length; i++) {
            selectBox.options[i + 1] = new Option(all_elements[i], all_elements[i]);
        }
    }
</script>
#if ($data.message)
    <DIV class="error">$data.message</div><br>
#end
<p class="page-title">
    Upload Data via CSV Template
</p>
<div class="installed-template-box-container">
    <div class="installed-template-box-header">
        <p class="installed-template-box-title">
            Installed Templates
        </p>
        <button onclick="createNewTemplate()" class="btn-install-new-template" type="button">
            Install New Template
        </button>
    </div>
    <div id="installed-template-table-container" style="margin:20px"></div>
</div>

<script>
    var templatesTableContainer = 'div#installed-template-table-container'
    renderTemplatesTable();
    var allElements = new Array();
    var $dataRows = []

    function renderTemplatesTable() {
        var container = $(templatesTableContainer);
        if (container.length) {
            setTimeout(function () {
                container.html('loading...');
                setTimeout(function () {
                    XNAT
                        .dialog
                        .loadingBar
                        .show();
                    XNAT
                        .spawner
                        .spawn({
                            templateTable: {
                                kind: 'table.dataTable',
                                name: 'templates',
                                id: 'templates',
                                load: XNAT
                                    .url
                                    .restUrl('/xapi/csv/templates'),
                                items: {
                                    templateName: {
                                        label: 'Template Name',
                                        filter: true,
                                        apply: function () {
                                            return spawn('p', {
                                                title: this.label,
                                                html: escapeHtml(this.label)
                                            });
                                        }
                                    },
                                    dataType: {
                                        label: 'Datatype',
                                        filter: true,
                                        apply: function () {
                                            return spawn('p', {
                                                title: this.xsiType,
                                                html: escapeHtml(this.xsiType)
                                            });
                                        }
                                    },
                                    lastModified: {
                                        label: 'Last Modified',
                                        filter: function (table) {
                                            var MIN = 60 * 1000;
                                            var HOUR = MIN * 60;
                                            var X8HRS = HOUR * 8;
                                            var X24HRS = HOUR * 24;
                                            var X7DAYS = X24HRS * 7;
                                            var X30DAYS = X24HRS * 30;
                                            return spawn('div.center', [
                                                XNAT
                                                    .ui
                                                    .select
                                                    .menu({
                                                        value: 0,
                                                        options: {
                                                            all: {
                                                                label: 'All',
                                                                value: 0,
                                                                selected: true
                                                            },
                                                            lastHour: {
                                                                label: 'Last Hour',
                                                                value: HOUR
                                                            },
                                                            last8hours: {
                                                                label: 'Last 8 Hrs',
                                                                value: X8HRS
                                                            },
                                                            last24hours: {
                                                                label: 'Last 24 Hrs',
                                                                value: X24HRS
                                                            },
                                                            lastWeek: {
                                                                label: 'Last Week',
                                                                value: X7DAYS
                                                            },
                                                            last30days: {
                                                                label: 'Last 30 days',
                                                                value: X30DAYS
                                                            }
                                                        },
                                                        element: {
                                                            id: 'template-filter-select-last-modified',
                                                            on: {
                                                                change: function () {
                                                                    var FILTERCLASS = 'filter-last-modified';
                                                                    var selectedValue = parseInt(this.value, 10);
                                                                    var currentTime = Date.now();
                                                                    $dataRows = $dataRows.length
                                                                        ? $dataRows
                                                                        : $$(table)
                                                                            .find('tbody')
                                                                            .find('tr');
                                                                    if (selectedValue === 0) {
                                                                        $dataRows.removeClass(FILTERCLASS);
                                                                    } else {
                                                                        $dataRows
                                                                            .addClass(FILTERCLASS)
                                                                            .filter(function () {
                                                                                var timestamp = this.querySelector('input.timestamp');
                                                                                var lastLogin = +(timestamp.value);
                                                                                return selectedValue === lastLogin - 1 || selectedValue > (currentTime - lastLogin);
                                                                            })
                                                                            .removeClass(FILTERCLASS);
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    })
                                                    .element
                                            ])
                                        },
                                        apply: function () {
                                            return spawn('!', [
                                                [
                                                    'input.hidden.timestamp.filtering|type=hidden', {
                                                        value: (new Date(this.updateOn)).getTime()
                                                    }
                                                ],
                                                [
                                                    'span.date-time',
                                                    (
                                                        this.updateOn
                                                            ? (new Date(this.updateOn)).toLocaleString()
                                                            : ''
                                                    )
                                                ]
                                            ])
                                        }
                                    },
                                    project: {
                                        label: 'Project',
                                        filter: true,
                                        apply: function () {
                                            return spawn('p', {
                                                title: this.project,
                                                html: escapeHtml(this.project)
                                            });
                                        }
                                    },
                                    actions: {
                                        label: 'Actions',
                                        filter: false,
                                        apply: function () {
                                            let downloadURL = XNAT
                                                .url
                                                .restUrl('/xapi/csv/templates/download/' + this.id)
                                            return spawn(
                                                'p',
                                                {html: `
                                    <div style="justify-content: space-evenly; display: flex;">
                                        <a> <i style="padding: 5px;" class="fa fa-edit" aria-hidden="true"></i> </a>
                                        <a href="${downloadURL}" target="_blank"> <i style="padding: 5px;" class="fa fa-download" aria-hidden="true"></i> </a>
                                        <a> <i style="padding: 5px;" class="fa fa-upload" aria-hidden="true"></i> </a>
                                        <a onClick="deleteTemplate(${this.id})"> <i style="padding: 5px;" class="fa fa-trash-o" aria-hidden="true"></i> </a>
                                    </div>
                                    `}
                                            );
                                        }
                                    }
                                }
                            }
                        })
                        .render(container.empty(), function () {
                            XNAT
                                .dialog
                                .loadingBar
                                .hide();
                        });
                }, 10);
            }, 1);
        }
    }

    function deleteTemplate(templateId) {
        XNAT
            .xhr
            .delete({
                url: XNAT
                    .url
                    .restUrl('/xapi/csv/templates/' + templateId),
                success: function () {
                    console.log("Template deleted successfully")
                    renderTemplatesTable()
                }
            })
    }

    function selectDatatype() {
        return {
            selectDatatype: {
                tag: "div",
                content: `
        <div class='row'>
          <div class='rowTitle' for='root_data_type'>Select data-type </div>
          <select ID="root_data_type" name="root_data_type" />
          </div>
        </div>
        `
            }
        };
    }

    function createNewTemplate() {
        XNAT
            .dialog
            .open({
                width: 600,
                speed: 200,
                esc: true,
                enter: false,
                title: "Select Datatype for New Template",
                content: XNAT
                    .spawner
                    .spawn(selectDatatype())
                    .get(),
                buttons: [
                    {
                        label: "Continue",
                        close: false,
                        isDefault: true,
                        action: function (obj) {
                            console.log(obj)
                            const rootDataType = obj
                                .$dialog
                                .find('#root_data_type')[0]
                                .value
                            renderAttributes(rootDataType)
                            obj.close()
                        }
                    }, {
                        label: "Cancel",
                        close: true
                    }
                ],
                onClose: function (obj) {
                    console.log(obj)
                },
                afterShow: function () {
                    var elements = new Array();
                    #foreach($gwe in $elements)
                    elements.push("$gwe");
                    #end
                    elements.sort(function (a, b) {
                        if (a.toLowerCase() < b.toLowerCase()) 
                            return -1;
                        if (a.toLowerCase() > b.toLowerCase()) 
                            return 1;
                        return 0;
                    });
                    var selectBox = document.getElementById('root_data_type');
                    selectBox.options[0] = new Option("(SELECT)", "BAD");

                    for (var i = 0; i < elements.length; i++) {
                        selectBox.options[i + 1] = new Option(elements[i], elements[i]);
                    }
                }
            });
    }

    function renderAttributes(rootDataType) {
        XNAT
            .xhr
            .get({
                url: XNAT
                    .url
                    .restUrl('/xapi/csv/templates/root/' + rootDataType),
                success: function (data) {

                    function ElementFieldMapping(name) {
                        this.elementName = name;
                        this.fields = new Array();
                        this.extensionPaths = new Array();
                        this.extensionTypes = new Array();
                        this.required = new Array();
                    }
                    for (var entry in data) {
                        var mapping = new ElementFieldMapping(entry);
                        var fields = data[entry][0]
                        var extensions = data[entry][1]
                        var required = data[entry][2]
                        mapping
                            .fields
                            .push(...fields);
                        mapping
                            .required
                            .push(...required);
                        var count = 0
                        for (var e in extensions) {
                            mapping.extensionPaths[count] = e;
                            mapping.extensionTypes[count] = new Array();
                            for (var foreign in extensions[e]) {
                                mapping
                                    .extensionTypes[count]
                                    .push(foreign);
                            }
                            count = count + 1
                        }
                        allElements.push(mapping);
                    }
                    console.log(allElements);
                    openSelectAttributesModal(rootDataType, data)
                }
            })
    }

    function openSelectAttributesModal(rootDataType, data) {
        const content = selectAttributesContent(rootDataType, data)
        XNAT
            .dialog
            .open({
                width: 600,
                speed: 200,
                esc: true,
                enter: false,
                title: `Define CSV Template for ${rootDataType}`,
                content: content,
                buttons: [
                    {
                        label: "Continue",
                        close: false,
                        isDefault: true,
                        action: function (obj) {
                            const selected = new Array()
                            const ips = obj
                                .$dialog
                                .find('input')
                            for (let i = 0; i < ips.length; i++) {
                                if (ips[i].checked) 
                                    selected.push(ips[i].value)
                            }
                            templateNameModal(rootDataType, selected)
                            obj.close()
                        }
                    }, {
                        label: "Cancel",
                        close: true
                    }
                ],
                onClose: function (obj) {
                    console.log(obj)
                },
                afterShow: function () {}
            });
    }

    function selectAttributesContent(rootDataType, data) {
        const rootFields = data[rootDataType]
        const fields = rootFields[0]
        const extensions = rootFields[1]
        const required = rootFields[2]
        let content = ` 
        <div id="rootDIV">
            <div class="attributes-info-div"> 
                <i class="fa fa-info-circle attributes-info-icon" aria-hidden="true"></i>
                <p> Select all attributes you want to include in your template. Each attribute will correspond to a column in your comma-delimited template file. You can reorder columns as needed when fitting our data and uploading.</p>
            </div>
            <input type="checkbox" id="checkALL" onclick="checkAll();"/>
            Select All
            <div class="field rootField">
            <hr style="margin: 10px 0;">`

        required.forEach((ele) => {
            content += `    
            <DIV class="field rootField">
                <input type="checkbox" checked disabled value="${ele}" name="fields"/>
                <b>${ele} (Required)</b>
            </div>
            <hr style="margin: 10px 0;">`
        })

        fields.forEach((field) => {
            content += `
        <DIV class="field rootField">
            <input type="checkbox" value="${field}" name="fields"/>
            ${field}
        </div>`
        })

        for (const e in extensions) {
            content += `
            <DIV class="extension rootExtension">
                <b>${e}</b>
                <select
                    id="${e}SEL"
                    onchange="renderAdditionalFields('${e}','${e}','${e}SEL');">
                        <option value="">(SELECT)</option>`
            extensions[e].forEach((foreign) => {
                content += `<OPTION value="${foreign}">${foreign}</option>`
            })
            content += `
                </select>
            </div>
            <div class="extension rootExtension" id="${e}">
                This field can be extended by multiple data types. Please select the data-type you would like to use.
            </div>`
        }
        content += `</div>`
        console.log(content)
        return content;
    }

    function templateNameModal(rootDataType, selected) {
        var formContainer$ = null
        XNAT
            .dialog
            .open({
                width: 600,
                speed: 200,
                esc: true,
                enter: false,
                title: `Save Template`,
                content: function () {
                    formContainer$ = $.spawn('div.new-user-form');
                    XNAT
                        .spawner
                        .spawn({
                            templateNameForm: saveTemplateContent(rootDataType, selected)
                        })
                        .render(formContainer$)
                    return formContainer$[0];
                },
                buttons: [
                    {
                        label: "Save Template",
                        close: false,
                        isDefault: true,
                        action: function (obj) {
                            console.log(obj)
                            let templateName = obj
                                .$dialog
                                .find('input#template-name')[0]
                                .value
                            let projectName = obj
                                .$dialog
                                .find('select#project-name')[0]
                                .value
                            createTemplate(rootDataType, selected, templateName, projectName)
                            obj.close()
                            renderTemplatesTable()
                        }
                    }, {
                        label: "Cancel",
                        close: true
                    }
                ],
                onClose: function (obj) {
                    console.log(obj)
                },
                afterShow: function () {}
            });
    }

    function saveTemplateContent(rootDataType, columns) {
        console.log(rootDataType)
        var rootDataTypeEsc = escapeHtml(rootDataType)
        return {
            kind: 'panel.form',
            name: 'saveTemplateForm',
            id: 'save-template-form',
            footer: false,
            header: false,
            element: {
                autocomplete: 'off'
            },
            contents: {
                templateName: {
                    kind: 'panel.input.text',
                    label: 'Template Name',
                    element: {
                        placeholder: 'Enter a unique name',
                        autocomplete: 'off'
                    }
                },
                projectName: {
                    kind: "panel.select.single",
                    label: "Select Project",
                    options: {
                        "sample 1": "Sample 1",
                        "sample 2": "Sample 2",
                        "sample 3": "Sample 3"
                    }
                },
                rootDataType: {
                    kind: "panel.element",
                    label: "Datatype",
                    content: {
                        description: {
                            tag: 'div.description',
                            content: rootDataTypeEsc
                        }
                    }
                },
                fieldsSelected: {
                    kind: "panel.element",
                    label: "Fields selected",
                    content: {
                        description: {
                            tag: 'div.description',
                            content: columns.length
                        },
                        editLink: {
                            tag: 'a.link',
                            element: {
                                href: '#!',
                                title: 'edit',
                                on: {
                                    click: function (e) {}
                                }
                            },
                            content: 'Edit'
                        }
                    }
                }

            }
        }
    }

    function createTemplate(rootDataType, columns, label = "Example Template", project = "sample") {
        const body = {
            label,
            xsiType: rootDataType,
            project,
            template: [...columns]
        }

        XNAT
            .xhr
            .postJSON({
                url: XNAT
                    .url
                    .restUrl('/xapi/csv/templates'),
                data: JSON.stringify(body),
                success: function () {
                    console.log("Template created successfully")
                    renderTemplatesTable()
                }
            })
    }

    function getElementFieldMapping(name) {
        for (var i = 0; i < allElements.length; i++) {
            if (allElements[i].elementName == name) {
                return allElements[i];
            }
        }
    }

    function renderAdditionalFields(header, destinationDIV, selectBox) {
        var dest = document.getElementById(destinationDIV);
        while (dest.firstChild) {
            dest.removeChild(dest.firstChild);
        }

        var checkAll = document.getElementById("checkALL");
        if (selectBox.selectedIndex != 0) {
            var foreignElementName = selectBox
                .options[selectBox.selectedIndex]
                .value;
            var elementMapping = getElementFieldMapping(foreignElementName);
            for (var i = 0; i < elementMapping.fields.length; i++) {
                var field = elementMapping.fields[i];

                var newDIV = document.createElement("DIV");
                newDIV.className = "field rootField";

                var inputBox = document.createElement("INPUT");
                inputBox.type = "checkbox";
                inputBox.name = "fields";
                inputBox.checked = checkAll.checked;
                inputBox.value = header + "[@xsi:type='" + foreignElementName + "']" + field.substring(
                    field.indexOf("/")
                );;

                newDIV.appendChild(inputBox);

                var labelTxt = document.createElement("LABEL");
                labelTxt.innerHTML = header + field.substring(field.indexOf("/"));
                newDIV.appendChild(labelTxt);

                dest.appendChild(newDIV);
            }
        }
    }

    function renderAdditionalFields(header, destinationDIV, selectBoxID) {
        var dest = document.getElementById(destinationDIV);
        while (dest.firstChild) {
            dest.removeChild(dest.firstChild);
        }
        var selectBox = document.getElementById(selectBoxID);

        var checkAll = document.getElementById("checkALL");
        if (selectBox.selectedIndex != 0) {
            var foreignElementName = selectBox
                .options[selectBox.selectedIndex]
                .value;
            var elementMapping = getElementFieldMapping(foreignElementName);
            for (var i = 0; i < elementMapping.fields.length; i++) {
                var field = elementMapping.fields[i];

                var newDIV = document.createElement("DIV");
                newDIV.className = "field rootField";

                var inputBox = document.createElement("INPUT");
                inputBox.type = "checkbox";
                inputBox.name = "fields";
                inputBox.checked = checkAll.checked;
                inputBox.value = header + "[@xsi:type='" + foreignElementName + "']" + field.substring(
                    field.indexOf("/")
                );;

                newDIV.appendChild(inputBox);

                var labelTxt = document.createElement("LABEL");
                labelTxt.innerHTML = header + field.substring(field.indexOf("/"));
                newDIV.appendChild(labelTxt);

                dest.appendChild(newDIV);
            }

            for (var i = 0; i < elementMapping.extensionPaths.length; i++) {
                var field = elementMapping.extensionPaths[i];

                var newDIV = document.createElement("DIV");
                newDIV.className = "extension rootExtension";

                var labelTxt = document.createElement("LABEL");
                labelTxt.innerHTML = "<B>" + header + field.substring(field.indexOf("/")) + "</B>";
                newDIV.appendChild(labelTxt);

                var newSelectBox = document.createElement("SELECT");
                newSelectBox.ID = field + "SEL";
                newSelectBox.onchange = new function () {
                    renderAdditionalFields("" + field + "", "" + field + "", field + "SEL");
                };
                newSelectBox.options[0] = new Option('', '(SELECT)');
                for (var j = 0; j < elementMapping.extensionTypes[i].length; j++) {
                    newSelectBox.options[j + 1] = new Option(
                        elementMapping.extensionTypes[i][j],
                        elementMapping.extensionTypes[i][j]
                    );
                }
                newDIV.appendChild(newSelectBox);

                dest.appendChild(newDIV);

                newDIV = document.createElement("DIV");
                newDIV.className = "extension rootExtension";
                newDIV.ID = "$e.getKey()";
                newDIV.innerHTML = "This field can be extended by multiple data types.  Please select the data-type you would like to " +
                        "use.";

                dest.appendChild(newDIV);
            }
        }
    }

    function checkAll() {
        var tbls = document.getElementsByTagName("input");
        var checkAll = document.getElementById("checkALL");
        for (ti = 0; ti < tbls.length; ti++) {
            thisTbl = tbls[ti];
            if (thisTbl.id != "checkALL") {
                thisTbl.checked = checkAll.checked;
            }
        }
    }
</script>